.decant-type-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    line-height: 1;
}

.decant-type-icon--sm {
    width: 14px;
    height: 14px;
}

.decant-type-icon--md {
    width: 16px;
    height: 16px;
}

.decant-type-icon--lg {
    width: 20px;
    height: 20px;
}

.decant-type-icon i {
    display: block;
}
